<div data-role="view" id="schedule" data-model="APP.schedule.model" data-init="APP.schedule.events.init" data-after-show="APP.schedule.events.afterShow">

  <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#leftNav" data-rel="drawer" data-align="left">
              <span class="icon-lines"></span>
            </a>
        </div>
    </header>


 <div class="pure-g">
    <div class="pure-u-1">
      <p class="heading">At what time do you leave to go to school?</p>
      <div class="transport rounded">
        <form id="departure_form" style="padding:20px">
              <div data-bind="visible:isVisible" id="notification">Settings saved!</div>
              <input data-bind="value: departure_time" id="departure_time" type="time" required style="margin:10px">
            
              <button data-bind="click: saveSchedule" class="save-button button-large pure-button pure-button-primary">Save</button>
        
        </form>

      </div>

  </div>
</div>

<div data-role="footer">
    <footer data-role="footer">
      <div data-role="navbar">
          <a data-bind="source: days" data-template="days-template"></a>
      </div>
    </footer>
</div>



</div>




<script type="text/x-kendo-template" id="days-template">
  <a class="pure-button trans" href="#: url #">#: name #</a>
</script>
