<div data-role="view" id="today"  data-model="APP.today.model" data-init="APP.today.events.init" data-after-show="APP.today.events.afterShow">


 <header data-role="header">
    <div class="header" data-role="navbar">
        <span data-role="view-title"></span>
          <a data-role="button" href="#leftNav" data-rel="drawer" data-align="left">
            <span class="icon-lines"></span>
          </a>
    </div>
  </header>

  <div class="pure-g">
        <div class="pure-u-1-2 left-panel weather">
          <h2 align="center" class="headinglg">Now</h2>
          <p align="center" class="current"></p>
          <h2 align="center" data-bind:"html:current_temp" class="current_temp"></h2>
        </div>
        <div class="pure-u-1-2 right-panel weather">
          <p class="departure_time heading" align="center"></p>
          <p align="center" class="future">
            <img class="transportation" width="50%"/>
          </p>
          <p align="center" class="departure"></p>
          <h2 align="center" data-bind:"html:departure_temp" class="departure_temp"></h2>
        </div>
       
  </div>
       
<div data-role="footer">
  <div class="footer">
    <img class="cat" width="50%"/>
    <img src="img/sidewalk.png"/>
  </div>
</div>

<div data-role="footer">
    <footer data-role="footer">
      <div class="footer" data-role="navbar">
          <span data-bind="source: days" data-template="days-template">
          </span>
      </div>
    </footer>
</div>


</div>

<div id="please_wait" class="modal center" style="display:none;">
    <h2 align="center">Welcome! Please wait while we find your local weather!</h2>
    <p align="center"><img src="img/foot.png"/></p>
</div>

  




<script type="text/x-kendo-template" id="days-template">
  <a class="pure-button trans" href="#: url #">#: name #</a>
</script>
